/*for overflow of social icons on a tweet*/
article {
  overflow: visible !important;
}

/*for overflow of social icons on a google search -beginning*/
#center_col {
    overflow: visible !important;
    z-index: 99;

}

/*for code button when hovered over
*/
.btn_image:hover {
    opacity: 0.8 !important;
}

div.g{
	width: auto;
}

/*for overflow of social icons on a google search -end */

.copytext { 
	/*background: #444444;*/ 
	cursor: pointer;
}

.sharing_icons_extension {
    opacity: 0;
    font-size: 16px;
    margin-left: 6px;
    margin-right: 6px;
    color: #1F1E1E;
    will-change: transform;
    -webkit-transform: scale(.1);
            transform: scale(.1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.sharing_icons_extension img {
	max-width: none !important;
}

.clipboard:active {
  background: lightgrey;
}

.emailslider:active {
  background: lightgrey;
}

.twitterslider:active {
  background: lightgrey;
}

.facebookslider:active {
  background: lightgrey;
}

.whatsappslider:active {
  background: lightgrey;
}

.messengerslider:active {
  background: lightgrey;
}

.linkedinslider:active {
  background: lightgrey;
}

.redditslider:active {
  background: lightgrey;
}

.sharebtnicon{
  align: center;
  max-width: fit-content;
}

a.share-btn:hover {
  background-color: lightgrey;
}

.cx_code {
	box-sizing: unset !important;
}

sharebuttons {
	box-sizing: unset !important;
}

.btn_wrap {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden !important;
    cursor: pointer;
    width: 30px;
    height: 30px;
    will-change: transform;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
/*     left:70px; */
}

.btn_wrap:hover {
	background: white; /* make sure black for twitter dark mode */
    width: 295px;
    margin-left: 9px;
    overflow: hidden;
    -webkit-transform: scale(1.1);
            transform: scale(1.1)

}

span.share_icon_slider {
    z-index: 99;
    width: 5px;
    font-size: 14px;
    text-align: center;
    color: #EEEEED;
    background-color: black;
    padding: 15px 15px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.span.share_icon_slider:hover {
    width: 500px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1)
        
}

.containerone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 5px;
    height: 40px;
}

.containerone: hover {
    width: 100px;
    visibility: visible;
      -webkit-transform: translateX(500px);
            transform: translateX(500px);
}


.containerone i:nth-of-type(1) {
            -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
}

.containerone i:nth-of-type(2) {
            -webkit-transition-delay: .1s;
                    transition-delay: .1s;
}

.containerone i:nth-of-type(3) {
            -webkit-transition-delay: .1s;
                    transition-delay: .1s;
}

.containerone i:nth-of-type(4) {
            -webkit-transition-delay: .1s;
                    transition-delay: .1s;
}

.btn_wrap:hover span {
    -webkit-transition-delay: .1s;
            transition-delay: .1s;
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px)
}

.btn_wrap:hover i {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
}

